/*made by Robert Michalski*/

@import "reset.css";

/* carter-one-regular - latin */
@font-face {
  display: swap;
  font-family: 'Carter One';
  font-style: normal;
  font-weight: 400;
  src: local('Carter One'), local('CarterOne'),
       url('./fonts/carter-one-v12-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/carter-one-v12-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* gloria-hallelujah-regular - latin */
@font-face {
  display: swap;
  font-family: 'Gloria Hallelujah';
  font-style: normal;
  font-weight: 400;
  src: local('Gloria Hallelujah'), local('GloriaHallelujah'),
       url('./fonts/gloria-hallelujah-v12-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/gloria-hallelujah-v12-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* jost-regular - latin */
@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('./fonts/jost-v4-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/jost-v4-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* jost-600 - latin */
@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 600;
  src: local(''),
       url('./fonts/jost-v4-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/jost-v4-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* jost-800 - latin */
@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 800;
  src: local(''),
       url('./fonts/jost-v4-latin-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/jost-v4-latin-800.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* jost-italic - latin */
@font-face {
  font-family: 'Jost';
  font-style: italic;
  font-weight: 400;
  src: local(''),
       url('./fonts/jost-v4-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/jost-v4-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

:root {
  --ff-primary: 'Jost', sans-serif;
  --ff-secondary: 'Carter One';
  --ff-unique: 'Gloria Hallelujah';

  --h2: 600;
  --h3: 900;
  --p: 400;

  --crl-primary: #8343EA;
  --crl-scondary: #9D89B3;
  --crl-default: #1F1926;
  --crl-basic: #FDF7FF;

}

*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: var(--ff-primary);
  color: var(--crl-default);
}

header {
  width: 100%;
  position: fixed;
  background: #fff;
  max-height: 10vh;
  box-shadow: 0 0 5px #111;
  z-index: 255;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--ff-secondary);
  text-align: center;
  margin: 0 auto;
}

p, b, i, label {
  font-family: var(--ff-primary);
}

i {
  font-weight: 400;
}

.box__button {
  font-family: var(--ff-primary);
}


@media only screen and (min-width: 768px) {
  nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }
}

.logo {
  width: 55px;
  text-align: center;
  display: block;
  margin: 0 auto;
  color: black;
  font-family: var(--ff-secondary);
  display: flex;
  align-items: center;
}

.logo span {
  color: blue;
  font-size: .5em;
}

.nav-list {
  display: flex;
  list-style: none;
  justify-content: space-around;
}
.nav-links {
  color: #111;
  font-size: 18px;
  font-weight: 400;
}
.nav-links:hover,
.nav-links:focus {
  color: red;
  font-size: 18px;
  font-weight: bold;
  transition: 0.5s ease;
  border: none;
}
.container {
  padding-top: 50px;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
}

.container img {
  text-align: center;
  margin: 0 auto;
  display: block;
  width: 100%;
}

.box__item h2 {
  font-size: 30px;
  font-weight: 900;
  text-align: center;
  margin-bottom: 5px;
}
.box {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 20px;
  box-shadow: 0 0 2px #111;
  overflow: hidden;
  height: calc(100% + 35px);
}

.banner {
  background-image: url(./../img/banner.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(100vh - 200px);
  width: 100%;
  display: table;
}
.vertical__text {
  display: table-cell;
  vertical-align: middle;
}
.banner h2 {
  font-size: 60px;
  font-weight: 900;
  line-height: 70px;
  color: #fff;
  text-align: center;
  text-shadow: 2px 2px 8px #111;
  display: block;
  font-family: var(--ff-unique);
}
.box__item {
  display: flex;
  margin-bottom: 15px;
  padding: 0 15px 30px 15px;
}
a {
  font-family: var(--ff-secondary);
  color: var(--crl-primary);
  font-weight: 600;
}
a:hover {
  color: red;
  font-size: 17px;
  font-weight: 900;
  transition: 0.5s;
}
@media only screen and (min-width: 768px) {
  .container {
    margin-top: 50px;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .box__item {
    display: flex;
    flex-basis: 50%;
    padding: 0 15px 30px 15px;
  }
}

.box__button {
  display: inline-block;
  background-color: #111;
  width: calc(100% - 50px);
  font-size: 16px;
  border: none;
  color: #fff;
  font-weight: 900;
  padding: 5px;
  border-radius: 150px;
}
.box__button:hover {
  background-color: red;
  color: #fff;
  padding: 8px;
  transition: 0.5s ease-in-out;
}

@media only screen and (min-width: 1200px) {
  .logo {
    display: flex;
    align-content: center;
    float: left;
    margin-left: 15px;
    line-height: normal;
  }
  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
  }
  .box__item {
    flex-basis: 25%;
  }
  .nav-list {
    margin-left: auto;
    width: 800px;
    height: 8vh;
    align-items: center;
  }
  .content__box {
    flex-basis: 50%;
  }
  .desc {
    width: 600px;
  }
}

.image__container__item {
  padding: 0 15px 30px 15px;
}

.box.box--drama {
  display: block;
  padding: 0;
  align-items: center;
  border: none;
  box-shadow: none;
}
.box.box--drama p {
  margin-left: 10px;
  padding: 5px;
  font-size: 14px;
}
.box.box--drama img {
  margin-right: 10px;
  width: 30%;
  margin-top: 15px;
  float: left;
}
h3 {
  font-size: 18px;
  font-weight: 900;
  height: fit-content;
}
.drama__title {
  display: block;
}
.content__box {
  padding: 0 15px 30px 15px;
}

@media only screen and (min-width: 768px) {
  h1,
  h2 {
    font-size: 50px;
  }
  .image__container__item {
    display: flex;
    align-items: center;
    max-width: 50%;
  }
  .box.box--drama {
    padding: 0;
    align-items: center;
  }
  .box.box--drama img {
    float: left;
    margin-top: 0;
    margin-right: 10px;
    width: 25%;
  }
  .drama__container {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    flex-basis: 50%;
  }
  .content__box {
    padding: 0 15px 30px 15px;
  }
  .desc > img {
    width: 100%;
  }
  .desc {
    margin: 0 auto;
    text-align: center;
    display: block;
    max-width: 1200px;
  }
}

footer {
  width: 100%;
  background-color: #111;
  height: fit-content;
  display: flex;
  flex-direction: column;
}
.container__footer {
  display: flex;
  padding: 15px 0;
  flex-wrap: wrap;
  justify-content: center;
}
.nav-list.footer {
  display: flex;
  flex-direction: column;
  padding: 0 20px 0;
  flex-basis: 50%;
}

.nav-list.footer a,
.service a,
.social-media a,
.partners a {
  color: #fff;
  line-height: 26px;
}

footer label,
footer h3,
footer p {
  color: #fff;
}

#hidden__communicate {
  display: none;
  color: green;
  margin-bottom: 2px;
  font-weight: 900;
}

#hidden__communicate::after {
  content: " ✔️";
}
footer h3::after {
  content: url(./../img/letter.png);
  margin-left: 5px;
}

.form__newsletter {
  padding-top: 30px;
  position: relative;
  margin: 0 auto;
}

footer [type="submit"] {
  background: orange;
  border: none;
  padding: 7px;
  font-weight: 900;
  width: 75px;
}
footer [type="submit"]:hover {
  color: #fff;
  transition: 0.5s ease-out;
}
input {
  padding: 5px;
}

.footerHeading {
  color: lightgrey;
  font-weight: 900;
  font-size: 20px;
  line-height: 50px;
}
.social-media,
.service,
.partners {
  flex-basis: 50%;
  padding: 0 20px 0;
}
.nav__item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.btn__item {
  width: 100%;
  text-align: center;
  padding-top: 25px;
}


@media only screen and (min-width: 1200px) {
  .nav__item {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
}

@media only screen and (min-width: 765px) {
  .btn__item {
    width: 100%;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 93%;
    padding: 0;
  }
}

